<div class="home-page">
    <!-- Splash banner that only shows when not logged in -->
    <!-- <div class="banner" show-authed="false">
        <div class="container">
            <h1 class="logo-font" ng-bind="::$ctrl.appName | lowercase"></h1>
            <p>Currency Convertor.</p>
        </div>
    </div> -->
    <div class='container'>
        <div class='row'>
            <div class='col-md-6 col-xs-10 col-md-offset-3 col-xs-offset-1'>
                <table class='table'>
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat='currency in $ctrl.results'>
                            <td>{{currency['key']}}</td>
                            <td>{{currency['value']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>