* {
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
    background: white;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.main-nav {
    height: 50px;
    width: 100%;
    line-height: 50px;
    text-align: center;
    background: #41a3ff;
}

.main-nav a {
    height: 50px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: bolder;
    color: white;
    margin: 0 auto;
}

.home-page {
    width: 100%;
}

.banner {
    width: 100%;
    height: 250px;
    text-align: center;
}