<footer>
    <div class="container">
        <a class="logo-font" ui-sref="app.home" ng-bind="::$ctrl.appName | lowercase"></a>
        <span class="attribution">
      		&copy; {{::$ctrl.date | date:'yyyy'}}.
      		A Collective places to eat in Bowie.
    	</span>
    </div>
</footer>